body {
	background-color: #FCFCFC
}
#overall_container {
	height: 100%;
	position: absolute;
}
#container {
	float:left;
	margin-left:20px;
}

#photo {
	position: relative;
	float: left;
	min-height: 0px;
}

#comments {
	position: relative;
	float:left;
	width: 400px;
	margin: 10px;
}

.comment {
	min-height: 50px;
	background-color: white;
	padding: 5px;
	border: 1px solid lightgrey;
}

.comment:hover{
    background-color: #F0F2EB ;
}

/*.hover{
    background-color: #F0F2EB ;	
}*/
.active {
	background-color:rgba(212,238,94,0.5);
}

textarea{
    width:390px;
    border: 1px solid rgba(255,66,66,0.8);
}

.tooltip-inner {
    max-width: 250px;
    width: 250px; 
    text-align: left;
}