#photo {
	position: relative;
	float: left;
}

#comments {
	position: relative;
	float:left;
	width: 400px;
	margin: 10px;
}

.comment {
	min-height: 50px;
	background-color: white;
	padding: 5px;
	border: 1px solid lightgrey;
}

.comment:hover{
    background-color: #F0F2EB ;
}

.active {
	background-color:rgba(212,238,94,0.5);
}

textarea{
    width:400px;
    border: 1px solid rgba(255,66,66,0.8);
}
