body {
	background-color: #FCFCFC
}
#overall_container {
	height: 100%;
	position: absolute;
}
#container {
	float:left;
	margin-left:20px;
}

.inbox_div table {
	border: 1px solid lightgrey;
	background-color: #eeeeee;
	width: 80%;
}

.inbox_div tr {
	border: 1px solid lightgrey;	
}
.inbox_div td{
	padding: 5px;
}

.inbox_div td a {
	display: block;
	text-decoration: none;
	color: black;
}

.inbox_div td a:hover {
	text-decoration: none;
	color: black;
}

.inbox_div .unread {
	font-weight: bold;
    background-color: #fdfdfd;
}

.inbox_div tr:hover{
    background-color:rgba(244,250,210,1);
}