.left{
    float:left;
    width: 60%;
    display-inline:block;
}

.right{
    float:left;
    width:40%;
    display-inline:block;
}


img{
    margin:5px;
}

.photopage_descrip{
    width: 512px;
    background:#dddddd;
    margin: 5px;
    padding: 5px;
}

.photopage_comments{
    width: 512px;
    border:1px solid #dddddd;
    background:#ffffff;
    margin: 5px;
    padding: 5px;   
}

.comment_area{
    width: 512px;
    margin:5px;
}

textarea{
    width: 512px;
}

.comment_btn_area{
    margin-left: 425px;
}

.username{
    color:darkblue;
}

.a_comment{
    margin:5px;
    padding:5px;
/*    background:#f1f1f1;*/
}

.username:hover{
    color:lightblue;
}




.button_area{
    margin: 20px;
}

.button_area .glyphicon{
    font-size:2.5em;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 16px;
}



.camera_info{
    width:80%;
    border: 1px solid #dddddd;
}

td{
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
    padding-right:10px;
}

.cam_info_left{
    font-weight: bold;
    width: 50%;
}
