body{
    font-family: 'Quattrocento Sans', sans-serif;
}

.logo_td{
    width:560px;
}

/*
.logo{
    font-family: 'Redressed', cursive;
    font-size:3em;
}
*/

.navbar-brand{
    padding-top:0px !important;
}

.header_links .btn{
    height:inherit;
    border: none;
    background-color: rgba(0,0,0,0);
}

.header_links .btn:hover{
    background-color:rgba(244,250,210,1);
}

.header_links .glyphicon{
    color:rgba(255,66,66,0.8);
}

.glyphicon{
    color:rgba(255,66,66,0.8);
}